/*
 * Aspectow AppMon 3.1
 * Last modified: 2026-02-21
 */

.tabs > .tabs-title .indicator {
    padding: 0;
}
.domain.tabs .tabs-title .indicator.disconnected {
    color: #ff9900;
}
.domain.tabs .tabs-title .indicator.error {
    color: #a01f27;
}

.metrics-bar {
    background-color: #d3d3d3;
    @media screen and (max-width: 576px) {
        display: block;
        height: auto;
    }
    @media screen and (min-width: 576px) {
        display: flex;
        height: 1.8rem;
    }
}
.metrics-bar .metric dl {
    display: flex;
    margin: 0;
    @media screen and (max-width: 576px) {
        height: auto;
    }
    @media screen and (min-width: 576px) {
        height: 1.8rem;
    }
}
.metrics-bar .metric dl dt {
    margin: 0;
    padding: 0 5px 0 10px;
    align-content: center;
    font-weight: normal;
    font-size: .9em;
}
.metrics-bar .metric dl dd {
    margin: 0;
    padding: 0 10px 0 0;
    align-content: center;
    font-weight: bold;
}
.domain.metrics-bar {
    position: relative;
    height: auto;
    padding: 0 50px;
    border-bottom: 1px solid #ccc;
    background-color: unset;
    box-shadow: 0 6px 15px -10px rgba(50, 50, 50, .33);
    @media screen and (max-width: 576px) {
        text-align: center;
    }
    @media screen and (max-width: 389px) {
        text-align: center;
        padding: 0 0 0 50px;
    }
    @media (min-width: 1200px) {
        flex: 0 0 auto;
        width: 50%;
    }
}
.domain.metrics-bar.full-width {
    width: 100%;
}
.domain.metrics-bar .title {
    position: absolute;
    top: 0;
    left: 13px;
    width: 50px;
    height: 2rem;
    text-align: left;
    align-content: center;
    font-weight: bold;
    color: #677278;
}
.domain.metrics-bar .metric {
    border-left: 1px solid #ccc;
    @media screen and (max-width: 576px) {
        display: block;
    }
}
.domain.metrics-bar .metric dl {
    @media screen and (max-width: 576px) {
        display: inline-flex;
    }
}
.instance.metrics-bar {
    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    @media screen and (min-width: 576px) {
        display: flex;
        justify-content: center;
        height: 28px;
    }
}
.instance.metrics-bar .metric dl {
    height: 28px;
}

.control-bar {
    background-color: #677278;
    color: #eee;
    padding : 4px 6px;
    box-shadow: 0 6px 10px -10px rgba(50, 50, 50, 0.45);
    text-align: right;
    border-top-right-radius: 3px;
    @media screen and (max-width: 768px) {
        border-top-left-radius: 3px;
    }
}
.control-bar .options > .bi {
    color: #d6e5e4;
    margin-left: 2px;
}
.control-bar .options .btn-group {
    display: inline-block;
    margin: 0;
}
.control-bar .options .btn-group .btn {
    padding: 3px 8px;
    font-size: .9em;
    background-color: #545a5d;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.control-bar .options .btn-group .btn:hover {
    background-color: #43494c;
    color: #fff;
}
.control-bar .options .btn-group .btn.on {
    background-color: #2a4959;
}

.event-box {
    display: none;
}
.event-box .title-bar {
    background-color: #242c43;
    color: #eee;
    padding : 0 7px 0 10px;
    height: 29px;
    box-shadow: inset -20px 20px 20px -20px #394e59;
}
.event-box .title-bar.on {
    background-color: #709185;
}
.event-box .title-bar h4 {
    line-height: 29px;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    display: inline;
}
.track-box {
    position: relative;
    height: 120px;
    background-color: #0d1939;
    overflow: hidden;
    display: none;
}
.track-box .traffic-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.track-box .track-stack {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 120px;
    background-color: #3e132d;
    z-index: 5;
}
.track-stack .activity-status-plate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.track-stack .activity-status-plate .bottom-plate-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115px;
    height: 24px;
    background-color: #572b2a;
    color: #eee;
}
.track-stack .activity-status-plate .bottom-plate-right {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 55px;
    height: 24px;
    background-color: #572b2a;
    color: #eee;
}
.track-stack .activity-status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #a5aecf;
    text-align: center;
    z-index: 11;
}
.track-stack .activity-status p {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.track-stack .activity-status p.current {
    font-size: 3em;
    font-weight: bold;
    padding-top: 4px;
}
.track-stack .activity-status p.interim {
    font-size: 2em;
    color: #35e771;
    line-height: 1.1;
}
.track-stack .activity-status p.interim .errors {
    color: #fc2184;
}
.track-stack .activity-status p.interim .separator {
    color: #a48599;
    letter-spacing: -3px;
}
.track-stack .activity-status p.cumulative {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 1em;
}
.track-stack .activity-status .sampling-timer-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background-color: #b989a6;
}
.track-stack .activity-status .sampling-timer-status {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 55px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: .7em;
}

.visual-box {
    display: none;
    box-shadow: 0 8px 10px -10px rgba(50, 50, 50, 0.33);
}
.visual-box .chart-box {
    position: relative;
    width: 100%;
    height: 188px;
    padding: 4px 0 0 4px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.visual-box .chart-box .chart {
    width: 100%;
    height: 184px;
    position: relative;
}
.visual-box .chart-box .chart canvas {
    width: 100%;
}
.visual-box .chart-box .chart .reset-zoom {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 3px;
    background-color: #bbb;
    color: #fff;
    opacity: .7;
    display: none;
}
.visual-box .chart-box .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.visual-box .chart-box .loading-overlay .spinner-border {
    width: 2.5rem;
    height: 2.5rem;
    color: #4493c8;
}

.session-box {
    display: none;
}
.session-box .panel {
    border: none;
    border-radius: 0;
    height: 199px;
    padding: 5px;
    overflow-y: auto;
    background-color: #9fbbbb;
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.session-box .panel.status .knob-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    display: none;
}
.session-box .panel.status .knob {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 5px;
    background-color: #69899c;
    border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 768px) {
    .session-box .panel.status {
        height: 33px;
        overflow-y: hidden;
        border-bottom: none;
    }
    .session-box .panel.status.expanded {
        height: 200px;
    }
    .session-box .panel.status .knob-bar {
        display: block;
    }
}
.session-box .panel.ground {
    background-color: #eff5fa;
}
.session-box .panel p.since {
    margin: 0;
    padding: 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    font-size: .85em;
}
.session-box dl.session-stats {
    margin-bottom: .3em;
}
.session-box dl.session-stats dt {
    float: left;
    clear: left;
    padding: 0 0 0 .5em;
    margin: 0;
    height: 24px;
    font-size: .9em;
    font-weight: normal;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
}
.session-box dl.session-stats dd {
    text-align: right;
    font-weight: normal;
    font-size: 1em;
    padding: 0 .5em 0 0;
    margin: 0;
    height: 24px;
    white-space: nowrap;
}
.session-box ul.sessions {
    margin: 0;
    padding: 0;
}
.session-box ul.sessions li {
    list-style-type: none;
    display: inline-table;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    background-color: #fff;
}
.session-box ul.sessions li.inactive {
    opacity: .475;
}
.session-box ul.sessions li.hidden {
    display: none;
}
.session-box ul.sessions li .count {
    display: inline-block;
    width: 3px;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    color: transparent;
    background-color: #8396a2;
    border-left: 3px solid #008100;
    font-size: .85em;
}
.session-box ul.sessions li .count.active {
    background-color: #02b502;
}
.session-box ul.sessions li .count.counting {
    width: auto;
    padding: 0 8px 0 6px;
    color: #fff;
}
.session-box ul.sessions li.inactive .count.counting {
    border-left-color: #595858;
}
.session-box ul.sessions li .flag {
    height: 25px;
    border-radius: 0;
    vertical-align: top;
}
.session-box ul.sessions li .username {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 6px;
    font-size: .85em;
    background-color: #d3d3d3;
}
.session-box ul.sessions li .detail {
    display: none;
    line-height: .9;
    border-top: 1px solid #638499;
}
.session-box ul.sessions li.designated {
    padding: 0 0 3px 0;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #748fa0;
}
.session-box ul.sessions li.designated .count {
    border-top-left-radius: 3px;
}
.session-box ul.sessions li.designated .detail {
    display: block;
}
.session-box ul.sessions li .detail p {
    padding: 2px;
    margin: 0;
    font-size: .8em;
    text-align: right;
    line-height: 1;
}
.session-box ul.sessions li .detail p:first-child {
    font-size: .74em;
    background-color: #517386;
    color: #fff;
}
.session-box ul.sessions li .detail p:last-child {
    font-size: .74em;
}

.console-box .status-bar {
    display: flex;
    align-items: center;
    background-color: #677278;
    color: #eee;
    padding: 0 7px 0 10px;
    height: 29px;
    box-shadow: -20px 20px 20px -20px #3e5763 inset;
}
.console-box .status-bar.on {
    background-color: #709185;
}
.console-box .status-bar h4 {
    flex: 1;
    height: 29px;
    line-height: 29px;
    font-size: .88em;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.console-box .status-bar a {
    display: inline-block;
    line-height: 29px;
    margin-left: 12px;
    color: #fff;
    cursor: pointer;
}
.console-box .status-bar a:hover, .console-box .status-bar a:visited {
    color: #d1b605;
}
.console-box .status-bar a.on {
    color: #ffeb00;
}
.console-box .status-bar a.load-previous i {
    font-size: 1.1em;
}
.console-box .status-bar .tailing-switch {
    display: flex;
    align-items: center;
}
.console-box .status-bar .tailing-switch .tailing-status {
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
}
.console-box .status-bar .tailing-switch .tailing-status::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 8px;
    width: 8px;
    background: #f1f1f1;
    border-radius: 50%;
}
.console-box .status-bar .tailing-switch .tailing-status.on {
    background-color: #39aa56;
}
.console-box.maximized {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
}
.console-box.maximized .status-bar {
    border-radius: 0;
}
.console-box.maximized .console {
    height: calc(100vh - 29px) !important;
    box-shadow: none;
}
.console-box.maximized .console:hover {
    box-shadow: none;
}
.console-box .console {
    clear: both;
    margin: 0;
    padding: 10px;
    overflow: auto;
    height: 450px;
    color: #f1f1f1;
    background-color: #222;
    border: none;
    border-radius: 0;
    box-shadow: inset -20px 20px 30px -20px #262f44;
}
.console-box .console:hover {
    box-shadow: inset 0 0 6px 3px #3a4c57;
}
.console-box .console p {
    font-size: 12px;
    line-height: 16px;
    white-space: pre;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    width: fit-content;
    min-width: 100%;
}
.console-box .console p:hover {
    color: #fafafa;
    background-color: #323d48;
}
.console-box .console p.event {
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(186, 254, 230, 0.53);
    padding: 3px 6px;
    margin: 4px 0;
    color: #fff;
    background-color: #333;
}
.console-box .console p.event.error {
    background-color: #3e132d;
    border: 1px solid #db7093;
    color: #fff;
}
