<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aspectran.appmon.mybatis.mapper.CounterMapper">

    <cache />

    <insert id="insertCounterData" parameterType="com.aspectran.appmon.persist.counter.CounterVO">
        INSERT INTO COUNTER
          (INST, YMD, TM, CNT1, CNT2)
        VALUES
          (#{inst}, #{ymd}, #{tm}, #{cnt1}, #{cnt2})
    </insert>

</mapper>
