<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aspectran.appmon.mybatis.mapper.CounterMapper">

    <cache />

    <select id="getFinalEventCount" resultType="com.aspectran.appmon.persist.counter.EventCountVO">
        select inst, evt, ymd, hh, mm, total, delta
        from event_count_final
        where inst = #{inst} and evt = #{evt}
    </select>

    <update id="updateFinalEventCount" parameterType="com.aspectran.appmon.persist.counter.EventCountVO">
        merge into event_count_final as a
            using values (#{inst}, #{evt}, #{ymd}, #{hh}, #{mm}, #{total}, #{delta})
                as b (inst, evt, ymd, hh, mm, total, delta)
        on (a.inst = b.inst and a.evt = b.evt)
        when matched then
            update set ymd = b.ymd, hh = b.hh, mm = b.mm, total = b.total, delta = b.delta
        when not matched then
            insert (inst, evt, ymd, hh, mm, total, delta)
            values (b.inst, b.evt, b.ymd, b.hh, b.mm, b.total, b.delta)
    </update>

    <insert id="insertEventCount" parameterType="com.aspectran.appmon.persist.counter.EventCountVO">
        merge into event_count as a
        using values (#{inst}, #{evt}, #{ymd}, #{hh}, #{mm}, #{total}, #{delta})
            as b (inst, evt, ymd, hh, mm, total, delta)
            on (a.inst = b.inst and a.evt = b.evt and a.ymd = b.ymd and a.hh = b.hh and a.mm = b.mm)
        when matched then
            update set total = b.total, delta = b.delta
        when not matched then
            insert (inst, evt, ymd, hh, mm, total, delta)
            values (b.inst, b.evt, b.ymd, b.hh, b.mm, b.total, b.delta)
    </insert>

</mapper>
