<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aspectran.appmon.persist.db.mapper.EventCountMapper">

    <cache />

    <select id="getLastEventCount" resultType="com.aspectran.appmon.persist.counter.EventCountVO">
        select domain, instance, event, ymd||hh||mm datetime, ymd, hh, mm, total, delta
        from appmon_event_count_last
        where domain = #{domain} and instance = #{instance} and event = #{event}
    </select>

    <update id="updateLastEventCount" parameterType="com.aspectran.appmon.persist.counter.EventCountVO">
        <choose>
            <when test="_databaseId == 'oracle'">
                merge into appmon_event_count_last a
                using (
                    select
                        #{domain} as domain, #{instance} as instance, #{event} as event,
                        #{ymd} as ymd, #{hh} as hh, #{mm} as mm, #{total} as total, #{delta} as delta
                    from dual
                ) b
                on (a.domain = b.domain and a.instance = b.instance and a.event = b.event)
                when matched then
                    update set ymd = b.ymd, hh = b.hh, mm = b.mm, total = b.total, delta = b.delta
                when not matched then
                    insert (domain, instance, event, ymd, hh, mm, total, delta)
                    values (b.domain, b.instance, b.event, b.ymd, b.hh, b.mm, b.total, b.delta)
            </when>
            <otherwise>
                merge into appmon_event_count_last as a
                using values (#{domain}, #{instance}, #{event}, #{ymd}, #{hh}, #{mm}, #{total}, #{delta})
                    as b (domain, instance, event, ymd, hh, mm, total, delta)
                on (a.domain = b.domain and a.instance = b.instance and a.event = b.event)
                when matched then
                    update set ymd = b.ymd, hh = b.hh, mm = b.mm, total = b.total, delta = b.delta
                when not matched then
                    insert (domain, instance, event, ymd, hh, mm, total, delta)
                    values (b.domain, b.instance, b.event, b.ymd, b.hh, b.mm, b.total, b.delta)
            </otherwise>
        </choose>
    </update>

    <insert id="insertEventCount" parameterType="com.aspectran.appmon.persist.counter.EventCountVO">
        <choose>
            <when test="_databaseId == 'oracle'">
                merge into appmon_event_count a
                using (
                    select
                        #{domain} as domain, #{instance} as instance, #{event} as event,
                        #{ymd} as ymd, #{hh} as hh, #{mm} as mm, #{total} as total, #{delta} as delta
                    from dual
                ) b
                on (a.domain = b.domain and a.instance = b.instance and a.event = b.event and a.ymd = b.ymd and a.hh = b.hh and a.mm = b.mm)
                when matched then
                    update set total = b.total, delta = b.delta
                when not matched then
                    insert (domain, instance, event, ymd, hh, mm, total, delta)
                    values (b.domain, b.instance, b.event, b.ymd, b.hh, b.mm, b.total, b.delta)
            </when>
            <otherwise>
                merge into appmon_event_count as a
                using values (#{domain}, #{instance}, #{event}, #{ymd}, #{hh}, #{mm}, #{total}, #{delta})
                    as b (domain, instance, event, ymd, hh, mm, total, delta)
                on (a.domain = b.domain and a.instance = b.instance and a.event = b.event and a.ymd = b.ymd and a.hh = b.hh and a.mm = b.mm)
                when matched then
                    update set total = b.total, delta = b.delta
                when not matched then
                    insert (domain, instance, event, ymd, hh, mm, total, delta)
                    values (b.domain, b.instance, b.event, b.ymd, b.hh, b.mm, b.total, b.delta)
            </otherwise>
        </choose>
    </insert>

    <select id="getChartData" resultType="com.aspectran.appmon.persist.counter.EventCountVO">
        <choose>
        <when test="_databaseId == 'oracle'">
            select ymd||hh||mm datetime, delta
            from (
                select ymd, hh, mm, sum(delta) as delta
                from appmon_event_count
                where domain = #{domain} and instance = #{instance} and event = #{event}
                group by ymd, hh, mm
                order by ymd desc, hh desc, mm desc
            )
            where rownum &lt;= 50
            order by ymd, hh, mm
        </when>
        <otherwise>
            select ymd||hh||mm datetime, delta
            from (
                select ymd, hh, mm, sum(delta) as delta
                from appmon_event_count
                where domain = #{domain} and instance = #{instance} and event = #{event}
                group by ymd, hh, mm
                order by ymd desc, hh desc, mm desc
                limit 50
            )
            order by ymd, hh, mm
        </otherwise>
        </choose>
    </select>

</mapper>
